*{
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background-color: #44344f;
  color: #d3fcd5;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

.nav {
  background-color: #c2f970;
  color: #44344f;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 2.5em;
}
.card-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 300px;
}

.card {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
width: 200px;
height: 300px;
border: 2px solid #c2f970;
border-radius: 20px;
position: relative;
margin-right: 20px;
}

.title, .author, .page-count, .has-read-btn{
  margin-bottom: 10px;
  padding: 10px;
}

.has-read-btn{
  bottom: 0;
  width: 150px;
  border: none;
}

.has-read-btn:focus{
transform: translateY(4px)
}

.book-read{
background-color: #c2f970;
}
.book-not-read{
  background-color: #da2c38;
}

.add-book-modal{
  position: absolute;
  top: 20%;
  right: 40%;
  background-color: #c2f970;
  border-radius: 25px;
  color: #44344f;
  height: 300px;
  width: 300px;
  z-index: 1;
}

.book-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#book-title, #book-author, #page-count{
  margin-bottom: 10px;
}

.hidden{
  display: none;
}

.open-modal{
  position: absolute;
  bottom: 40px;
  right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  font-size: 1.5em;
  text-align: top;
}

.close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.topright {
  position: absolute;
  right: 0;
  top: 0
}