*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #44344f;
  color: #d3fcd5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.nav {
  background-color: #c2f970;
  color: #44344f;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 2.5em;
}
.card-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 250px;
  width: 200px;
}

.card {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
width: 250px;
border: 2px solid #c2f970;
border-radius: 20px;
position: relative;
}

.title, .author, .page-count, .has-read-btn{
  margin-bottom: 10px;
  padding: 10px;
}

.has-read-btn{
  bottom: 0;
  width: 150px;
  border: none;
}

.has-read-btn:focus{
transform: translateY(4px)
}

.book-read{
background-color: #c2f970;
}
.book-not-read{
  background-color: #da2c38;
}

.add-book-modal{
  background-color: #8f3e3e;
  height: 300px;
  width: 300px;
  z-index: 1;
}

.book-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#book-title, #book-author, #page-count{
  margin-bottom: 10px;
}

.hidden{
  display: none;
}